<div class="ui grid container profile-container page-wrapper">

    <div class="four wide column">
        <div class="column mb20">
            <div class="ui fluid card profile-card">
                <div class="ui blurring medium image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <a href="https://en.gravatar.com/support/activating-your-account/" target="_blank">
                                    <div class="ui inverted button">Change Image</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img class="visible content" src="<%= image_path("user_profile.jpg") %>" >
                </div>
                <div class="content">
                    <a class="header">Mariah Caraiban</a>
                    <div class="description">
                        Owner at Our Company, Inc.
                    </div>
                    <div class="meta">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </div>

                    <table class="ui striped table">
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <div class="ui green horizontal label">Active</div>
                                </td>
                            </tr>
                            <tr>
                                <td>User Rating</td>
                                <td>
                                    <% (1..5).each do |i| %>
                                        <i class="star icon"></i>
                                    <% end %>
                                </td>
                            </tr>
                            <tr>
                                <td>Member Since</td>
                                <td>Jan 11, 2014</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="column mb20">
            <div class="ui fluid card">
                <div class="content card-title">
                    <i class="users icon"></i> Friends
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="three column row">
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                        </div>
                        <div class="three column row">
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                        </div>
                        <div class="three column row">
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                            <div class="column">
                                <img class="ui circular image" src="assets/user_profile.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached button" tabindex="0">See All Friends</div>
            </div>
        </div>

    </div>

    <div class="twelve wide column dash-column">
        <div class="ui fluid card">
            <div class="ui menu profile-menu">
                <a class="item active">
                    Profile
                </a>
                <a class="item">
                    My Contests
                </a>
                <a class="item">
                    My Leagues
                </a>
            </div>
            <div class="content">
                <div class="ui grid">
                    <div class="ten wide column">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="file text outline icon"></i> EXPERIENCE
                                </div>
                            </div>
                        </div>
                        <div class="ui list">
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="university icon"></i> EDUCATION
                                </div>
                            </div>
                        </div>
                        <div class="ui list">
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="radio icon"></i>
                                <div class="content">
                                    <a class="header">Owner at Stormin Ltd.</a>
                                    <div class="meta">March 2013 ~ Now</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui grid">
                    <div class="ten wide column act-column">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="world icon"></i> ACTIVITY
                                </div>
                            </div>
                        </div>
                        <div class="ui very relaxed divided selection list">
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You won a Prize!</a>
                                    <div class="meta">~ 12 mins ago</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You joined a contest.</a>
                                    <div class="meta">~ 1 hour 20 mins ago</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You added a friend.</a>
                                    <div class="meta">~ 1 day ago</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You created a league.</a>
                                    <div class="meta">~ 3 days ago</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You created a contest.</a>
                                    <div class="meta">~ 1 week ago</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="assets/user_profile.jpg">
                                <div class="content">
                                    <a class="header">You left a comment.</a>
                                    <div class="meta">~ 2 weeks ago</div>
                                </div>
                            </div>
                        </div>
                        <button class="fluid ui button">See All Activities</button>
                    </div>
                    <div class="six wide column">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="trophy icon"></i> SPORTS
                                </div>
                            </div>
                        </div>
                        <div class="ui list">
                            <div class="item">
                                <div class="label mb5">SUPERCROSS</div>
                                <div class="ui progress small success">
                                    <div class="bar" style="width: 100%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label mb5">MXGP</div>
                                <div class="ui progress small error">
                                    <div class="bar" style="width: 30%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label mb5">MotoGP</div>
                                <div class="ui progress small warning">
                                    <div class="bar" style="width: 70%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label mb5">NASCAR</div>
                                <div class="ui progress small blue">
                                    <div class="bar" style="width: 50%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label mb5">IndyCar</div>
                                <div class="ui progress small warning">
                                    <div class="bar" style="width: 55%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label mb5">Formula 1</div>
                                <div class="ui progress small blue">
                                    <div class="bar" style="width: 80%;">
                                        <div class="progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
