$primary: #6200ea;
$secondary: #FF8300;
$grey: #5D5D5D;


main {
    background-color: #eee;
}

.page-wrapper {
    padding-top: 70px !important;
    background-color: #eee;
}

.dimmable {
    img {
        width: 100%;
        border-radius: 0 !important;
    }
}

.ui.card {
    border-radius: 0 !important;
}

.ui.striped.table {
    border-radius: 0;
    border-right: 0;
    border-left: 0;

    td {
        padding: 7px;
        font-size: 0.9em;
        color: $grey;
    }
}

.ui.card {
    .content {
        border-top: none !important;
    }

    .card-title {
        font-size: 1.2em !important;
        color: $grey;
    }

    .bottom.attached.button {
        width: 100%;
        border-radius: 0 !important;
        margin: 0;
        border: 0;
        padding: 5px 1.5em 5px;
        box-shadow: none !important;
        background-color: #eee;
    }
}

.profile-card {
    border-top: 3px solid $primary !important;
}
.column {
    .ui.card {
        .profile-menu {
            background-color: $primary !important;
            border-radius: 0 !important;
            box-shadow: none;

            a {
                color: #fff !important;
            }

            .item:hover {
                background: rgba(255, 255, 255, 0.08);
            }
            .item.active {
                background: rgba(255, 255, 255, 0.2);

                &:after {
                    color: transparent;
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border-bottom: 7px solid #fff;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    width: 0;
                }
            }

            .item:before {
                background: rgba(90, 90, 90, 0.5);
            }

        }
    }
}

.ui.card {
    .ui.list {
        i {
            color: $grey;
        }

        .content {
            .header {
                color: $grey !important;
            }
            .meta {
                font-style: italic;
                font-size: 0.8em;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

.twelve.column {
    .statistic {
        margin-top: 10px !important;

        .value {
            color: $secondary !important;

            i {
                margin-right: 5px !important;
            }
        }
    }

    .ui.list {
        margin-top: 40px;
    }
}

.act-column {
    .content {
        .meta {
            margin: 0px !important;
        }
    }

    .ui.button {
        border-radius: 0 !important;
        background-color: #eee !important;
    }
}

i.star {
    color: $secondary;
}

// helper style class

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.pt30 {
    padding-top: 30px !important;
}

