/*responsive style goes here*/

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
    main {
        .profile-container {
            .four.wide.column {
                width: 100% !important;
            }
            .twelve.wide.column {
                width: 100% !important;
            }

            .profile-card {
                margin: auto;
            }

            .ui.fluid.card {
                max-width: 500px;
                margin: auto;
            }

            .profile-card {
                .ui.blurring.image {
                    width: 100%;
                }
            }
        }

        .ui.table:not(.unstackable) tr > td {
            display: table-cell !important;
        }

        .dash-column {
            .ten.wide.column {
                width: 100% !important;
            }
            .six.wide.column {
                width: 100% !important;
            }
        }
    }
    header {
        .show-on-mobile {
            display: flex !important;
        }

        .hide-on-mobile {
            display: none !important;
        }
    }

}

.show-on-mobile {
    display: none !important;
}

.hide-on-mobile {
    display: flex;
}
