<div class="ui fixed inverted menu">
  <div class="ui container">

    <a href="#" class="header item">
      <strong>M</strong>otodynasty
    </a>

    <div class="right menu hide-on-mobile">
      <a class="item right" href="#">Contests</a>
      <a class="item right" href="#">Rules</a>
      <a class="item right" href="#">Dashboard</a>
      <a class="item right" href="#">Log out</a>
    </div>

    <div class="right menu show-on-mobile">
      <a class="item right attached" href="#" id="mobile_nav_toggle">
        <i class="content icon"></i>
      </a>
    </div>

  </div>
</div>
