<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Contests
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Rules
  </a>
  <a class="item">
    <i class="line chart icon"></i>
    Dashboard
  </a>
  <a class="item">
    <i class="sign out icon"></i>
    Log out
  </a>
</div>
